* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;
    --black-800: #171717;
    --gray-200: #cccccc;
    --white: #f9f9f9;

}

body {
    background: var(--gray-200);
    color: var(--black-800);
    font-family: sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    color: var(--white);
    font-size: 2rem;
}

h2 {
    color: var(--black-800);
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 600;
}

h3 {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}
/* aplica a todos os elementos <section> da página */
section {
    width: 90%; /* Define a largura da seção como 90% */
    margin: 2rem auto; /* define margem externa do elemento*/
}

header { /* aplica a todos os elementos <header> da página */
    background: var(--purple-800); /* Define a cor de fundo do cabeçalho */
    padding: 1rem 2rem; /* Define o espaçamento interno do cabeçalho */
    display: flex; /* Define o container como flexível */
    justify-content: space-between; /* define o alinhamento horizontal dos elementos */
    align-items: center;
    position: sticky; /* Define o cabeçalho como fixo ao rolar a página */
    top: 0;
}


nav ul { /* aplica a todos os elementos <ul> dentro de <nav> */
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Define o container como flexível e faz eles se alinharem na horizontal */
    gap: 1rem; /* Define o espaçamento ntre os itens da lista */
}

nav a { /* aplica a todos os elementos <a> (elementos de âncora de link) dentro de <nav> */
    color: var(--white); /* Define a cor do texto dos links */
    font-size: 1.1rem; /* Define o tamanho da fonte dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

nav a:hover { /* aplica a todos os elementos <a> de link dentro de <nav> quando o mouse estiver sobre eles */
    color: var(--purple-200); /* Define a cor do texto dos links ao passar o mouse sobre eles */
    text-decoration: underline; /* Adiciona um sublinhado aos links ao passar o mouse sobre eles */
}

#about article { /* aplica a todos os elementos <article> dentro da seção com id "about" */
    display: flex; /* Define o container como flexível, além de fazer ele ocupar todo o espaço disponível */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 2rem; /* Define o espaçamento entre os itens */
}

#about img { /* aplica a todos os elementos <img> dentro da seção com id "about" */
    width: 250px; /* Define a largura da imagem */
    flex-shrink: 0; /* Impede que a imagem encolha além do tamanho definido */
}

#about p { /* aplica a todos os elementos <p> dentro da seção com id "about" */
    flex: 1; /* Faz o <p> crescer e encolher proporcionalmente em relação aos itens do container flexível */
}


#video figure { /* aplica a todos os elementos <figure> dentro da seção com id "video" */
    display: flex; /* Define o container como flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
}


footer { /* aplica a todos os elementos <footer> da página */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--white); /* Define a cor do texto do rodapé */
    background: var(--purple-500); /* Define a cor de fundo do rodapé */
    font-weight: bold; /* Define negrito */
    text-align: center;
}

footer section { /* aplica a todos os elementos <section> dentro do <footer> */
    width: 100%; /* Define a largura para ocupar todo espaço disponível */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

footer img { /* aplica a todos os elementos <img> dentro do <footer> */
    width: 2rem;
    height: 2rem;
    display: block; /* Remove espaço em branco indesejado ao redor da imagem */
    filter: invert(100%); /* Inverte as cores da imagem para ficar visível em fundo escuro */
    transition: filter 0.3s; /* Adiciona uma transição suave ao efeito de filtro */
}

footer img:hover { /* aplica a todos os elementos <img> dentro do <footer> quando o mouse estiver sobre eles */
    filter: brightness(0) 
            saturate(100%)
            invert(65%)
            sepia(59%)
            saturate(2437%)
            hue-rotate(213deg)
            brightness(86%)
            contrast(88%); 

}

.main_contato { /* aplica a todos os elementos com a classe "main_contato" */
    display: grid; /* Define o container como uma grade */
    grid-template-columns: 1fr 1fr; /* Define duas colunas iguais */
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
}

form { /* aplica a todos os elementos <form> da página */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
}


form input, textarea { /* aplica a todos os elementos <input> e <textarea> dentro de <form> */
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none; /* Remove a borda visíveis dos campos */
    font-size: 1rem;
}

textarea{ /* aplica a todos os elementos <textarea> */
    resize: none; /* Remove a opção de redimensionamento do campo de texto */
    height: 5rem;
}

form button { /* aplica a todos os elementos <button> dentro de <form> */
    background: var(--purple-800);
    color: var(--white);
    padding: 0.75rem;
    border: 1px solid var(--purple-500); /* Adiciona uma borda visível ao botão */
    border-radius: 0.75rem; /* Define cantos arredondados para o botão */
    font-weight: 700;
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
}

form button:hover {
    background: var(--purple-500);
}


form span { /* aplica a todos os elementos <span> dentro de <form> */
    color: #ff0000;
    font-size: 0.75rem;
}

.article_mapa { /* aplica a todos os elementos com a classe "article_mapa" */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    padding: 1.5rem;
    border-radius: 0.75rem;
}

.article_mapa adress { /* aplica a todos os elementos <adress> dentro de elementos com a classe "article_mapa" */
    width: 75%;
}

.article_mapa adress p { /* aplica a todos os elementos <p> dentro de elementos <adress> que estão dentro de elementos com a classe "article_mapa" */
    font-weight: 600;
}

.article_mapa iframe { /* aplica a todos os elementos <iframe> dentro de elementos com a classe "article_mapa" */
    align-self: center;
}